.about_author {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	height: 10%;
	display: flex;
}
.author_text {
	display: block;
	margin-left: 1%;
	font-size: 14px;
}
.author_fullname {
	font-size: 18px;
}
.author_status {
	margin-bottom: 10px;
}
.bio_contacts {
	display: flex;
}
.more_button {
	background: none!important;
	border: none;
	padding: 0!important;
	/*optional*/
	color: #069;
	cursor: pointer;
}
.profile_picture {
	height: 180px;
	width: 140px;
}
.bio {
	width: 60%;
	padding-right: 5px;
	height: 100%;
}
.contacts {
	width: 40%;
	padding-left: 5px;
}
