<!doctype html>
<html>
	<head>
		<title> пётр лапа очень хороший </title>
		{% load static %}
		<link rel="stylesheet" href="{% static "styles/base.css" %}">
	</head>
	<body>
		{% include 'navbar.html' %}

		<div class='header'>
			{% block header %}
			<style>	
				.header {
					margin-left: 25%;
					margin-right: 25%;
					margin-bottom: 0%;
					
					border: 0px;
				}
			</style>
			{% endblock header %}
		</div>

		<div class='content_and_menus'>
			<div class='left_menu'>
				<div class='link_menu'>
					<div>
					<a href='{% url "home" %}'>
						<img src='{% static "images/home.png" %}' class='link_menu_item'>
					</a>
					</div>
					<div>
					<a href='{% url "author-search" %}'>
						<img src='{% static "images/search.png" %}' class='link_menu_item'>
					</a>
					</div>
					<div>
					<a href='{% url "home" %}'>
						<img src='{% static "images/drafts.png" %}' class='link_menu_item'>
					</a>
					</div>
				</div>
				<div class='left_button'>
					{% block left_menu %}
					{% endblock left_menu %}
				</div>
			</div>
			<div class='only_content'>
				{% block content %}
				{% endblock content %}
			</div>
			<div class='right_menu'>
				<div class='right_button' align='right'>
					{% block right_menu %}
					{% endblock right_menu %}
				</div>
			</div>
		</div>
	</body>
</html>
