.header {
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 2%;

	border: 2px solid black;
}
.content {
	margin-left: 25%;
	margin-right: 25%;

	display: flex;
	border: 2px solid black;
}

.link_menu {
	padding-right: 20px;

}

.link_menu_item {
	width: 55px;
	height: 55px;
}

