{% extends 'base.html' %}


{% block content %}
{% load static %}
<script src='{% static "posts/javascript/post_detail.js" %}'>
window.onload = function pofig;
</script>

<link rel="stylesheet" href="{% static "posts/styles/post_detail.css" %}">
<div class='page' id='page_obj'>
	<div>
		<p><a href=' {{ absolute_list_url }} '>Back to list</a></p>
	</div>
	<div>
		<p>Tie: {{ object.title }}</p>
		<p>Author: {{ object.author }}</p>
		<p>Epigraph: {{ object.epigraph }}</p>
		<p>Text: {{ object.text}}</p>
		<p><a href=' {{ object.get_absolute_edit_url }} '>Edit</a></p>
		<p><a href=' {{ object.get_absolute_delete_url }} '>Delete</a></p>
	</div>
</div>

{% endblock content %}
